ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_MEETING_ID=
ZOOM_WEBHOOK_SECRET_TOKEN=
ZOOM_WEBHOOK_LOCAL_URL=
PORT=3000
SLACK_WEBHOOK_URL=
SLACK_BOT_TOKEN=
SLACK_ADMIN_API_KEY=
SLACK_NOTIFY_MEETING_ID=
SLACK_NOTIFY_EVENTS=
